* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 2vmax;
  padding: 10px;
}
button{
  color: white;
  background-color: lightseagreen;
  padding: 15px 30px;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
}