* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 2vmax;
}
button{
  font-size: 1.5vmax;
  margin-top: 40px;
}